# Database
DATABASE_URL="postgresql://rvote:your_password@localhost:5432/rvote"
DB_PASSWORD="your_secure_password_here"

# NextAuth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# SMTP Email (Mailcow)
SMTP_HOST=mail.rmail.online
SMTP_PORT=587
SMTP_USER=noreply@jeffemmett.com
SMTP_PASS=changeme
